#root,
body {
  width: 100%;
  top: 0;
  min-height: 100vh;
  margin: 0;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  position: relative;
  font-family: "Playfair Display";
}

main {
  margin: auto;
  width: 90%;
  height: 100%;
  max-width: 1200px;
  text-align: center;
  position: relative;
}

.welcome {
  position: fixed;
  inset: 50px 0 50px 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.welcome__wrapper {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  padding: 20px;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.welcome__message {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 15px;
}

.welcome__input {
  margin: auto;
}

.welcome__input label {
  color: grey;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.welcome__input label:hover {
  color: black;
}

.welcome__input input {
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.welcome__input:focus-within label {
  color: black;
}

.welcome__text {
  font-size: 20px;
  width: 100%;
  max-width: 400px;
  line-height: 1.5;
  text-align: center;
}

.welcome__text p {
  margin: 0;
}

.welcome__text .welcome__block {
  display: block;
}

.welcome__text .welcome__bold {
  font-weight: bold;
}

.welcome__text .welcome__green {
  font-size: 22px;
  color: green;
  text-shadow: 1px 3px 3px rgba(242, 190, 34, 0.5);
}

.welcome .username-error {
  font-size: 16px;
  color: red;
  display: block;
  margin: 0;
  padding: 0;
}

.question__capital,
.question__capital--underscore,
.alphabet {
  letter-spacing: 5px;
}

.alphabet__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alphabet__underscore {
  font-size: 22px;
  margin-bottom: 5px;
}

.alphabet__displayed {
  letter-spacing: 5.5px;
  -webkit-transition: 2s;
  transition: 2s;
  font-weight: bold;
}

.alphabet__success {
  color: #13bf0a;
}

.alphabet__failure {
  color: red;
}

.alphabet__letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
}

.question {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin-top: 50px;
  font-size: 26px;
  font-weight: bold;
}

.stats {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body:focus-within {
  background-color: red;
}

.nav {
  height: 25px;
  font-size: 22px;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__link, .nav__link-active {
  font-family: "Bebas Neue";
  margin-left: 20px;
  text-decoration: none;
}

.nav__link {
  color: black;
}

.nav__link-active {
  color: black;
  font-weight: bold;
}

.nav,
.footer {
  height: 50px;
  max-width: 100%;
  background-color: rgba(178, 222, 39, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container,
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table {
  width: 700px;
  max-width: 90%;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
}

.table__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.table__element:not(:last-child) {
  border-bottom: 1px solid black;
}

.cta {
  border-radius: 10px;
  border: none;
  padding: 7px 20px;
  min-width: 150px;
  max-width: 250px;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  background-color: lightgreen;
  font-family: "Bebas Neue";
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cta:hover {
  color: white;
  background-color: green;
}

.cta--small {
  font-family: "Playful Display";
  display: block;
  border: none;
  background: none;
  text-decoration: underline;
  color: grey;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 5px;
}

.cta--small:hover {
  color: black;
}

.welcome .cta {
  width: 100%;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */