.alphabet__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.alphabet__underscore {
  font-size: 22px;
  margin-bottom: 5px;
}
.alphabet__displayed {
  letter-spacing: 5.5px;
  transition: 2s;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    font-weight: bold;
    color: white !important;
    text-shadow: 0 0 3px black, 0 0 5px black;
  }
  // text-shadow: 0 0 3px black, 0 0 5px yellow;
}

.alphabet__success {
  color: #13bf0a;
}

.alphabet__failure {
  color: red;
}
.alphabet__letter {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 3px !important;
  font-size: 23px;
}
