#root,
body {
  width: 100%;
  top: 0;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-size: 18px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  font-family: "Playfair Display";
}

main {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1 {
  margin: 20px;
}
.welcome {
  position: absolute;
  inset: 50px 0 50px 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  &__info {
    font-size: 14px;
    color: grey;
    text-align: center;
    margin: -20px auto 0 auto;
  }
  &__wrapper {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transition: 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  }
  &__message {
    display: grid;
    grid-template-rows: 1fr;
    gap: 15px;
    // align-items: center;
  }

  &__input {
    margin: auto;
    label {
      color: grey;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: black;
      }
    }
    input {
      display: block;
      border-radius: 5px;
      border: 1px solid black;
      padding: 5px;
    }
    &:focus-within label {
      color: black;
    }
  }
  &__text {
    font-size: 20px;
    width: 100%;
    max-width: 400px;
    line-height: 1.5;
    text-align: center;
    p {
      margin: 0;
    }
    .welcome__block {
      display: block;
    }
    .welcome__bold {
      font-weight: bold;
    }
    .welcome__green {
      font-size: 22px;
      color: green;
      text-shadow: 1px 3px 3px rgba(242, 190, 34, 0.5);
    }
    .welcome__question {
      margin: 7px;
    }
  }
  .username-error {
    font-size: 16px;
    color: red;
    display: block;
    margin: 0;
    padding: 0;
  }
}

.question__capital,
.question__capital--underscore,
.alphabet {
  letter-spacing: 5px;
}

.alphabet__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.alphabet__underscore {
  font-size: 22px;
  margin-bottom: 5px;
}
.alphabet__displayed {
  letter-spacing: 5.5px;
  transition: 2s;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    font-weight: bold;
    color: white !important;
    text-shadow: 0 0 3px black, 0 0 5px black;
  }
  // text-shadow: 0 0 3px black, 0 0 5px yellow;
}

.alphabet__success {
  color: #13bf0a;
}

.alphabet__failure {
  color: red;
}
.alphabet__letter {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  margin-left: 3px !important;
  font-size: 23px;
}

.question {
  transition: 1s ease-in-out;
  font-size: 26px;
  font-weight: bold;
}
.stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  &__number {
    display: flex;
    align-items: center;
    > * {
      margin: 5px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
      border-radius: 10px;
      transition: 1 s;
      cursor: default;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        color: black;
      }
    }
  }
}

body:focus-within {
  background-color: red;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  .question,
  .alphabet {
    flex: 1;
  }
  .stats {
    flex: 0.5;
  }
}

//Confetti
@keyframes confettiRain {
  0% {
    opacity: 1;
    margin-top: -100vh;
    margin-left: -200px;
  }

  100% {
    opacity: 1;
    margin-top: 100vh;
    margin-left: 200px;
  }
}

.confetti {
  opacity: 0;
  position: absolute;
  width: 0.6rem;
  height: 1rem;
  transition: 500ms ease;
  animation: confettiRain 5s infinite;
}

#confetti-wrapper {
  overflow: hidden !important;
}

@media screen and (max-width: 400px) {
  main {
    width: 98%;
  }
  .welcome__wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 32px;
    margin-top: 10px;
  }
  .stats {
    flex-direction: column-reverse;
    align-items: center;
  }

  .game {
    height: 92%;
  }
  .game .question {
    flex: 0.5;
  }
  .game__block {
    margin-bottom: 20px;
  }
  .alphabet {
    margin-bottom: 10px;
  }
}
