body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: lightblue;
}

main {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.country__capital,
.country__capital--underscore,
.alphabet {
  letter-spacing: 5px;
}
.alphabet {
  text-align: center;
  overflow-wrap: break-word;
}
.alphabet__underscore {
  font-size: 22px;
  margin-bottom: 5px;
}
.alphabet__displayed {
  letter-spacing: 5.5px;
}

.alphabet__success {
  color: darkgreen;
}

.alphabet__failure {
  color: red;
}
