body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: lightblue;
}

main {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.country__capital,
.country__capital--underscore,
.alphabet {
  letter-spacing: 5px;
}

.alphabet__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.alphabet__underscore {
  font-size: 22px;
  margin-bottom: 5px;
}
.alphabet__displayed {
  letter-spacing: 5.5px;
}

.alphabet__success {
  color: darkgreen;
}

.alphabet__failure {
  color: red;
}
.alphabet__letter {
  display: flex;
  flex-direction: column;
}

.country {
  text-align: center;
}

.container {
  display: block;
  width: 90%;
  height: 80%;
  margin: auto;
}
