.nav {
  font-size: 22px;
  &__logo {
    font-size: 26px;
    letter-spacing: 3px;
    margin-top: -5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
    transition: 1s;
    color: black;
    &:hover {
      color: #1842fd;
    }
  }
  &__container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 90%;
    // height: 70px;
    max-width: 1100px;
  }
  &__link,
  &__link-active {
    letter-spacing: 1px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
    font-family: "Bebas Neue";
    margin-left: 20px;
    text-decoration: none;
  }
  &__link {
    transition: 0.5s;
    color: black;
    &:hover {
      color: #566edb;
    }
  }
  &__link-active {
    color: #1842fd;
  }
}

.nav {
  background: linear-gradient(rgb(178, 222, 39), rgb(178, 222, 39), rgb(178, 222, 39), rgba(178, 222, 39, 60%), rgba(178, 222, 39, 50%), rgb(178, 222, 39, 20%));
}

.footer {
  background: linear-gradient(to top, rgb(178, 222, 39), rgb(178, 222, 39), rgb(178, 222, 39), rgba(178, 222, 39, 60%), rgba(178, 222, 39, 50%), rgb(178, 222, 39, 20%));
}

.nav,
.footer {
  height: 50px;
  max-width: 100%;
  align-items: center;

  &__container {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
.footer__container {
  justify-content: center;
}
